@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

@import 'report';
@import 'technology';
@import 'gallery';



// mixin
@mixin display-flex {
    display: flex;
    justify-content: center;
    margin: auto;
    
}

// all
body {
    min-height: 100vh;
    background-color: $background-color;
    background-image: $background;
    padding: 1em;

    .me {
        width: 300px;
        margin: auto;
        display: block;
        box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.474);
    }

    .flash-img {
        max-width: 500px;
    }

    .flash-region {
        @include display-flex;
    }
}

* {
    color: $font-color;
    font-family: 'Roboto Slab', serif;
    line-height: 1.25;


}

h1 {
    border-bottom: 1px solid $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

table,
tr,
td,
th {
    border: 1px solid;
}

// header
.logo {
    @include display-flex;
    width: 135px;
    justify-content: unset;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.474);
}

.title {
    margin-left: 10px;
}

.nav {
    color: $nav-color;
}

//main
.main {
    max-width: 800px;
    margin: auto;
}

//footer

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    border-top: 3px solid $font-color;

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
}

// img {
//     width: 100%;
// }

.hidden {
    display: none !important;
}

.sheet iframe {
    width: 100%;
}
