$font-color: #42072f;
$font-alternative-color: #80691d;
$accent-color: #ee6c4d;
$background-color: #3d806b;
$background-alternative-color: #e0fbfc;
$background: linear-gradient(to bottom, #69db5a, #378f2c);
$background-dark: linear-gradient(to bottom, #161a33, #332c16);
$nav-color: #42072f;
$nav-color-dark: #80691d; 
//$background: linear-gradient(rgb(14, 114, 14), rgb(107, 175, 70));
